body {
    background-color: aqua ;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color: burlywood;
}
h1, h2, h3{
    text-align: center;
}

ol {
    display: block;
    max-width: 500px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

li {
    display: block;
    max-width: 500px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

image {
    display: block;
    max-width: 500px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

p {
    display: block;
    max-width: 500px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    position: sticky;
    top: 0;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    color:aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.last-child {
    float: right;
}

#navbar ul li:hover {
    background-color: cadetblue;
}

* {
    margin: 0;
    padding: 0;
}

table, tr, td {
    border: 1px solid chartreuse;
}
table{
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

th,td {
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: coral;
}

.footer {
    background-color: darkcyan;
    padding: 10px;
    text-align: "center";
    color:darkgrey;
    margin-top: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}